@{
    ViewData["Title"] = "Home Page";
}

<style>
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
        font-weight: bold;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It`s implementation of laborary 3 "Web Service"</p>
    <h3>Workflow and tasks: Implement a service (REST full API) that has several key features:</h3>
    <ul style="display:flex; align-items:end">
        <p>1.Web service operation (request and response). <br /><span class="text text-primary">[1 point]</span></p>
        <p>2.Obtaining data in html, json or other format. <br /><span class="text text-primary">[2 points]</span></p>
        <p>3.Transfer parameters and data to the server. <br /><span class="text text-primary">[2 points]</span></p>
        <p>4.Using your previous laboratory works transfer system functionality to the web. <br /><span class="text text-primary">[5 points]</span></p>
    </ul>       
    <button class="btn btn-dark"><a href="https://github.com/mykytatishkin/Lab3WebService">GitHub Repository WAP</a></button>
    <button class="btn btn-dark"><a href="https://github.com/mykytatishkin/JavaCourseProject">GitHub Repository CourseProject JavaFx</a></button>
</div>
